@import './Variable.scss';



@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin button($background-color,$text-color){
    background-color: $background-color;
    padding: 10px 20px;
    color: $text-color;
    border: none ;
    border-radius: 3px;
    cursor: pointer;
}

@mixin Grid( $grid-template-columns){
    display: grid;
    grid-template-columns: $grid-template-columns;
    gap: 30px;
}

